<div *ngIf='url!="register"'>
    <nav class='menu'>
        <div class='doktorki-logo'> tu obrazek</div>
        <div> <a routerLink="/admin/add/doctor">tu cos</a> </div>
        <div><a routerLink="/admin/manage/doctors" class='set'>tu cos</a> </div>
        <div> <a routerLink="/admin/add/patient">tu cos</a> </div>
        <div> <a routerLink="/login">tu cos</a> </div>
        <div><a routerLink="/login">log out</a> </div>
    </nav>
</div>

<div *ngIf='url=="register"'>
    <nav class='menu-register'>
        <div style="text-align: right"> Sign up</div>
    </nav>
</div>