  <div class='container'>
  <div>
     <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class='table-of-login'>

           <div><label for="login">login: </label></div>
                <div><input class='input-style' type='text' [(ngModel)]="loginInput" id='login' name='login'  (keyup.enter)="onSubmit()" required
                        #login="ngModel">
                    <div class='info' *ngIf='login.errors && (login.touched || login.dirty)'>
                        <div class='to-fill' [hidden]="!login.errors.required">Login is required </div>
                    </div>
                </div>


                 <div><label for="password">password: </label></div>
                <div><input class='input-style' type='password' [(ngModel)]="passwordInput" id='password' name='password'  (keyup.enter)="onSubmit()" required
                        #password="ngModel">
                    <div class='info' *ngIf='password.errors && (password.touched || password.dirty)'>
                        <div class='to-fill' [hidden]="!password.errors.required">Password is required </div>
                    </div>
                </div>

  </div>

  <div><button type="submit" class='check-button' [disabled]="!loginForm.form.valid" >log in</button></div>
  </form>
    <div *ngIf='invalid' class='invalid'>Wrong login or password!</div>

</div>
</div>
