<div class='check-pass'>
  <div>
    <table>
      <tr>
        <td>login</td>
        <td><input class='input-style' (keyup.enter)="login()" type='text' [(ngModel)]='loginInput' /> </td>
      </tr>
      <tr>
        <td>password</td>
        <td><input class='input-style' (keyup.enter)="login()" type="password" [(ngModel)]='passwordInput' />
        </td>

      </tr>
    </table>

  </div>

  <div class='s'><button class='check-button' (click)='login()' ng-keydown="enter">log in</button></div>
  <div><button (click)='refresh()'>refresh</button></div>
</div>
