.container{
    margin-left: 12%;
    margin-right: 12%;
    /*border: 2px solid #002e4d;*/
    height: fixed;
}

.content {
    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Quicksand', sans-serif;
    color:#002e4d;
    font-size:26px;
    box-shadow: 0 4px 20px 0 rgba(0, 46, 77, 0.2), 0 6px 100px 0 rgba(0, 46, 77, 0.2);
}

.logo{
    background-color: #002e4d;
    color:white;
    padding:1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.menu{
    box-shadow: 0 4px 20px 0 rgba(0, 46, 77, 0.2), 0 6px 100px 0 rgba(0, 46, 77, 0.2);
    display: grid;
    grid-gap: 10px;
    justify-content: center; 
    grid-row-gap: 20px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    background-color: #002e4d;
    color:white;
    padding:1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: right;
    font-size: 35px;
    font-weight: bold;
}

.menu div{
    text-align: center;
    font-weight: bold;
    align-self: center;
}


.menu div:hover{
    color: #002e4d;
    text-align: center;
    font-weight: bold;
    align-self: center;
}


.menu div a{
    text-decoration: none;
    color:white;
    font-size: 20px;;
    cursor:pointer;
}

.menu div a:hover{
    text-decoration: none;
    color:  #007ed2;
    letter-spacing: 2px;
}

.menu div .set{
    color:  #007ed2 !important;
    padding: 1%;
    border-bottom: 2px solid #007ed2;
    font-size: 26px !important;
}

.menu div .set:hover{
    color:  #007ed2 !important;
    padding: 1%;
    border-bottom: 2px solid #007ed2;
    font-size: 26px !important;
    letter-spacing: 0px !important;
}
