<div class='names'>{{patient.firstName}} {{patient.lastName}}</div>
<div class='specialization'>{{patient.PESEL}}</div><br>

<div class='table-of-details' style='margin-bottom:20px'>
    <div>login: </div>

    <div style='color:#4d1919'> {{patient.login}} </div>
</div>


<form [formGroup]="patientEditForm" (ngSubmit)="onSubmit()">
    <div class='table-of-details'>

        <div><label for="firstName">first name: </label></div>
        <div><input class='input-style' type='text' formControlName="firstName" placeholder="first name">
            <div class='info' *ngIf='patientEditForm.get("firstName").errors && (patientEditForm.get("firstName").touched || patientEditForm.get("firstName").dirty)'>
                <div class='to-fill' [hidden]="!patientEditForm.get('firstName').errors.required">First name is required </div>
            </div>
        </div>

        <div><label for="lastName">last name: </label></div>
        <div><input class='input-style' type='text' formControlName="lastName" placeholder="last name">
            <div class='info' *ngIf='patientEditForm.get("lastName").errors && (patientEditForm.get("lastName").touched || patientEditForm.get("lastName").dirty)'>
                <div class='to-fill' [hidden]="!patientEditForm.get('lastName').errors.required">Last name is required </div>
            </div>
        </div>


        <div><label for="gender">gender: </label></div>
        <div><select formControlName="gender" placeholder="gender">
                  <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
                  </select>
            <div class='info' *ngIf='patientEditForm.get("gender").errors && (patientEditForm.get("gender").touched || patientEditForm.get("gender").dirty)'>
                <div class='to-fill' [hidden]="!patientEditForm.get('gender').errors.required">Gender is required </div>
            </div>
        </div>

        <div><label for="phone">phone: </label></div>
        <div> <input class='input-style' type='text' formControlName="phone" placeholder="phone">
            <div class='info' *ngIf='patientEditForm.get("phone").errors && (patientEditForm.get("phone").touched || patientEditForm.get("phone").dirty)'>
                <div class='to-fill' [hidden]="!patientEditForm.get('phone').errors.required">Phone is required </div>
            </div>
        </div>

        <div style='margin-bottom:20px'><label for="email">email: </label></div>
        <div style='margin-bottom:20px'> <input class='input-style' type='text' formControlName="email" placeholder="email">
            <div class='info' *ngIf='patientEditForm.get("email").errors && (patientEditForm.get("email").touched || patientEditForm.get("email").dirty)'>
                <div class='to-fill' [hidden]="!patientEditForm.get('email').errors.pattern">Email is not valid</div>
                <div class='to-fill' [hidden]="!patientEditForm.get('email').errors.required">Email is required </div>
            </div>
        </div>
    </div>


    <div formGroupName="dayMonthGroup">
        <div class='table-of-details'>
            <div><label for="year">year: </label></div>
            <div><select formControlName="year" placeholder="year">
                  <option *ngFor="let year of dataArrays.yearsArray" [value]="year">{{year}}</option>
                  </select></div>

            <div><label for="month">month: </label></div>
            <div><select formControlName="month" placeholder="month">
                  <option *ngFor="let month of dataArrays.monthsArray" [value]="month">{{month}}</option>
                  </select></div>


            <div style='margin-bottom:20px'><label for="day">day: </label></div>
            <div><select formControlName="day" placeholder="day" style='margin-bottom:20px'>
                <option *ngFor="let day of dataArrays.daysArray" [value]="day">{{day}}</option>
                  </select>
            </div>

        </div>
    </div>

    <div class='table-of-details'>

        <div><label for="PESEL">PESEL: </label></div>
        <div> <input class='input-style' type='text' formControlName="PESEL" placeholder="PESEL">
            <div class='info' *ngIf='patientEditForm.get("PESEL").errors && (patientEditForm.get("PESEL").touched || patientEditForm.get("PESEL").dirty)'>
                <div class='to-fill' [hidden]="!patientEditForm.get('PESEL').errors.maxlength">PESEL is too long</div>
                <div class='to-fill' [hidden]="!patientEditForm.get('PESEL').errors.minlength">PESEL is too short</div>
                <div class='to-fill' [hidden]="!patientEditForm.get('PESEL').errors.required">PESEL is required </div>
                <div class='to-fill' [hidden]="!patientEditForm.get('PESEL').errors.pattern">PESEL must be a number </div>
            </div>
        </div>
        <div> </div>


        <div style="text-align: right">
            <button type="submit" class='option-button' [disabled]="!patientEditForm.valid">Submit</button>
        </div>
    </div>
</form>
