.container{
    margin-left: 10%;
    margin-right: 10%;
    /*border: 2px solid #002e4d;*/
    height: fixed;
    user-select: none;
}

.content {
    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Quicksand', sans-serif;
    color:#002e4d;
    font-size:26px;
    box-shadow: 0 4px 20px 0 rgba(0, 46, 77, 0.2), 0 6px 100px 0 rgba(0, 46, 77, 0.2);
}

