<div class="details-of-what">

    <div class='details-of-something'>Patient's details:
        <div class='normal-data'>
            <div>Name: {{patient.firstName}} {{patient.lastName}} </div>
            <div>PESEL: {{patient.PESEL}} </div>
        </div>

    </div>
    <div class='details-of-something'>Appointment's details:
        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
            <div class='table-of-details'>

                <div><label for="description">description: </label></div>
                <div><textarea class='input-style' type='text' formControlName="description" placeholder="description"></textarea>
                </div>



                <div><label for="day">day: </label></div>
                <div><input class='input-style' type='text' formControlName="day" placeholder="day">

                </div>


                <div><button type="submit" class='option-button' [disabled]="!appointmentForm.valid">save</button> </div>
            </div>
        </form>

    </div>
</div>

do mozliwosci edycji: data godzina i opis, mozna usunac