.details-of-what {
    margin-top:3%;
    display: grid;
    grid-template-columns: 45% 45%; 
    grid-gap: 50px;
    justify-content: center; 
    font-size: 20px;
    /*border: 1px solid red;*/
}

.details-of-what .details-of-something{
    color: #004d80;
    font-size: 26px;
    /*border: 1px solid limegreen;*/
    text-align: left;
    align-self: start;
    font-weight: bold;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 20px;
}

.details-of-what .details-of-something .normal-data{
    color: #002e4d;
    font-size:20px;
    font-weight: normal;
    margin-top: 2%;
}

.details-of-what .details-of-something .normal-data div{
    padding-bottom: 2%;
}

.details-of-what .details-of-something .table-of-details{
    margin-top: 2%;
    grid-template-columns: 20% 45%; 
    text-align: left;
    align-self: start;
    grid-row-gap: 0px;
}

.details-of-what .details-of-something .table-of-details div{
    padding-bottom: 2%;

}

