<div class='calender'>
 <!--<button type="button" (click)="back()">tył</button>-->
                <div class='arrows'>
                     <div class='arrow'>
                    <div *ngIf='currentMonth!=calendar.month || (currentMonth==calendar.month && currentYear!=calendar.year)' (click)="back()">&#171;</div>
                    <div *ngIf='currentMonth==calendar.month && currentYear==calendar.year'></div></div>
                     <div class='arrow'><div (click)="forward()">&#187;</div></div>
                </div>
    <div class='year'>{{year}}</div>
    <div class='month'>{{monthName}}</div>
    <div class='days'>      
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wensday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
        <div>Sunday </div>
    </div>

        <div class='day'>
            <div *ngFor="let day of days; let i = index">
                    <div attr.id="{{day}}" [ngStyle]="setBackGroundStyle(day,i)">

                        <a  [routerLink]= "['/doctor', login, 'schedule', year, calendar.month+1, day]"  [ngStyle]="setInactiveDays(day,i)">
                        {{day}}</a></div>
            </div>       
        </div>


</div>

