<div class='content'>
  <div> {{doctor.firstName}} {{doctor.lastName}} 21.08.2017(hardcodingmotzno)</div>
  <div class='schedule'>

    <div class='minutes'>
      <div></div>
      <div *ngFor="let min of minutes; let i = index">{{min}} </div>

    </div>

    <div class='hours' *ngFor="let hour of hours; let i = index">

      <div>{{hour}} </div>

      <div attr.id="{{hour}}:00" [ngStyle]='setButtons(hour, "00")'>{{hour}}:00  </div>
      <div attr.id="{{hour}}:15" [ngStyle]='setButtons(hour, "15")'>{{hour}}:15 </div>
      <div attr.id="{{hour}}:30" [ngStyle]='setButtons(hour, "30")'>{{hour}}:30 </div>
      <div attr.id="{{hour}}:45" [ngStyle]='setButtons(hour, "45")'>{{hour}}:45 </div>

    </div>


  </div>
</div>
