.menu{
    grid-template-columns: 35% 15% 15% 15% 15%;
}

.minutes {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    padding-top:2%;


}
.minutes div{
    border: 1px solid #faf5ff;
    text-align: center;
    padding:3%;
    background-color: #e6f5ff;

}
.minutes div:first-child{
    border: none;
    background-color: white;

}

.hours {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    margin-bottom:0px;
    text-align: center;
    width:100%;

}

.hours div{
    border: 1px solid  #fff2f5;
    text-align: center;
    padding:3%;
    background-color: #eff2f5;

}
.hours div:first-child{
    border: 1px solid #faf5ff;
    text-align: center;
    padding:3%;
    background-color: #e6f5ff;

}

.hours:last-child{
    margin-bottom: 40px;
}

.schedule{
    
    width:100%;
    margin-left:12.5%;
}

/*.hours div a{
    text-align: center;
    padding:3%;
    color: #002e4d;
    text-decoration: none;
}*/