.container{
    margin-left: 12%;
    margin-right: 12%;
}

.logo{
    background-color: #002e4d;
    color:white;
    padding:1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;

}

.logo:hover {
    background-color: #002e52;
}

.content {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Quicksand', sans-serif;
    color:#002e4d;
    font-size:140%;
}

.table-of-doctor{
    border-spacing:0;
    margin:0px;
    padding:0px;
    width:100%;
    border-width:1%;
    border-style: solid; 
    border-radius: 4px;
    border-color: #003d66;
    background-color: #003d66;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.table-of-doctor:hover{
    border-color: #ffcc00;
    background-color: #ffcc00;
}

.doctor-button{
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color:  #003d66;
    border:none;
    font-size: 15px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    border-radius: 3px;   
}

.doctor-button:hover{
     background-color:#ffcc00;
}


.doctor-button:focus {
    outline:0;
}


.button-divided{
    width:30%;
    display: inline-block;
    text-align: center;
}


.shortDetails {
    padding-bottom: 1%;
    text-align: center;
    background-color: white;
    font-size: 15px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    width: 89.5%;
}



