.menu{
    grid-template-columns: 20% 15% 15% 15% 15% 15%;
}

.table-of-doctor{
    border-spacing:0;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:0.8%;
    width:60%;
    border-width:1%;
    border-style: solid; 
    border-radius: 4px;
    border-color: #333333;
    background-color: #333333;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.table-of-doctor:hover{
    border-color: #003d66 !important;
    background-color: #003d66 !important;
}

.doctor-button{
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color:  #333333;
    border:none;
    font-size: 15px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    height: 100%;
    border-radius: 3px;   
    cursor:pointer;
}

.doctor-button:hover{
     background-color:#003d66 !important ;
}


.doctor-button:focus {
    outline:0;
}


.button-divided{
    width:30%;
    display: inline-block;
    text-align: center;
}


.shortDetails {
    padding-bottom: 1%;
    text-align: center;
    background-color: white;
    font-size: 15px;
    color: #333333;
    font-family: 'Quicksand', sans-serif;
    width:100%;
}

.selected{
      background-color: #003d66 !important;
      border:none;
}

.doctor-edit{
    width:20%;
}

.doctor-edit-button{
    width:80px;
    height: 50px; 
    background-color: #005f9d;
    border-radius: 3px;   
    border: none;
    color:white;
    outline:0;
    cursor:pointer;
    font-family: 'Quicksand', sans-serif;
    font-size:100%;

}

.doctor-edit-button:hover{
    background-color: #006fad;
}

p{
    text-align: left;
    margin-left: 1%;
    line-height: 80%;
}

.details-of-doctor{
    width:40%;
}

.show-details{
    width:100%;
    border-radius: 3px;    
}

.search-style
{
    grid-template-columns: 5% 14%;
    display: grid;
    grid-gap: 0px;
    justify-content: left; 
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.search-style div{
    align-self: center;
    margin-bottom:5%;
}
.search {
    height: 30px;
    font-size: 16px;
    border: 0.3px solid grey;
    border-radius: 5px;
    min-width: 150px;
    font-family: 'Quicksand', sans-serif;
}

.search:hover{
    border: 0.3px solid   #002e4d;
    border-radius: 5px;
}

.search:focus{
    background-color:     #002e4d;
    border: 0.3px solid   #002e4d;
    border-radius: 5px;
    font-size: 16px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    outline:0;
}