<div class='container'>
    <div class='logo'>Admin's Profile</div>
    <div class='content'>
       name<br>
        <div class='specialization'>spec</div><br>
        <br><br>
       
       <div class='table-of-details'>
         <div class='x'>name: </div>
        <div> <input class='input-style' type='text' placeholder=""></div>
         <div>login: </div>
        <div> <input class='input-style' type='text'></div>
            <div>gender:</div>
        <div> <input class='input-style' type='text'></div>
         <div>age:</div>
        <div> <input class='input-style' type='text'></div>
           <div>phone:</div>
        <div> <input class='input-style' type='text'></div>
           <div>email:</div>
        <div> <input class='input-style' type='text'></div>
           <div>street:</div>
        <div> <input class='input-style' type='text'></div>
           <div>postcode:</div>
        <div> <input class='input-style' type='text'></div>
           <div>city:</div>
        <div> <input class='input-style' type='text'></div>
           <div>specialization:</div>
        <div> <input class='input-style' type='text'></div>
       </div>



    </div>
</div>