<!--<div class='container' [@tableOfDoctors]>-->
<div class='container'>

    <nav class='menu'>
        <div class='doktorki-logo'> . </div>
        <div> <a routerLink="/admin/add/doctor">add doctor</a> </div>
        <div><a routerLink="/admin/manage/doctors" class='set'>manage doctors</a> </div>
        <div> <a routerLink="/admin/add/patient">add patient</a> </div>
        <div> <a routerLink="/login">manage patients</a> </div>
        <div><a routerLink="/login">log out</a> </div>
    </nav>

    <div class='content'>
        <div style="margin-bottom:1%"> List of Doctors:</div>

        <div class='search-style'>
            <div>search: </div>
            <div><input type='text' class='search' [(ngModel)]='doctorFilter' placeholder="doctor's name" />
            </div>
        </div>
        <div class='table-header'>
            <div class='table-header-content'>
                <div> DOCTOR'S NAME</div>
                <div>SPECIALIZATIONS</div>
                <div>CITY</div>
            </div>
        </div>


        <div *ngFor='let doctor of doctors | firstlastNameFilter:doctorFilter'>
            <table class='table-of-doctor' *ngIf='doctors && doctors.length' [ngStyle]='{"background-color" : (doctor === selectedDoctor) ? "#003d66" : "#fafafa",
                                 "border-color": (doctor === selectedDoctor) ? "#003d66" : "#fafafa"} '>
                <thead>
                    <tr>
                        <td>
                            <button class='doctor-button' [class.selected]='doctor === selectedDoctor' (click)='onSelect(doctor)'>


<div class='button-label'>
    <div>
     {{doctor.firstName}} {{doctor.lastName}}
    </div >
    <div>
        <div *ngFor='let spec of doctor.specializations' class='single-specialization'>
            {{spec.specialization}} {{doctor.specializations[doctor.specializations.length-1].specialization==spec.specialization ? ' ' : ','}} </div>
    </div >
    <div>
       {{doctor.address.city}}
    </div >
</div>

</button></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="shortDetails" *ngIf='doctor === selectedDoctor'>
                        <table class='show-details'>
                            <tr>
                                <td class='details-of-doctor'>
                                    <p><strong>Login: </strong>{{doctor.login}}</p>
                                    <p><strong>Gender: </strong>{{doctor.gender}}</p>
                                    <p><strong>Age: </strong>{{doctor.age}}</p>
                                    <p><strong>Phone: </strong>{{doctor.phone}}</p>
                                    <p><strong>Email: </strong>{{doctor.email}}</p>
                                    <p><strong>Address: </strong>{{doctor.address.street}}, {{doctor.address.postcode}} {{doctor.address.city}}</p>

                                </td>
                                <td class='doctor-edit'><button class='doctor-edit-button' (click)='editDoctor()'>edit doctor</button></td>
                                <td class='doctor-edit'><button class='doctor-edit-button' (click)='deleteAndBackToAdminPage()'>delete doctor</button></td>
                                <td class='doctor-edit'><button class='doctor-edit-button'>check schedule</button></td>
                            </tr>
                        </table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>