<div class='container'>
    <nav class='menu'>
        <div> Doktorki </div>
        <div> <a routerLink="/admin/add/doctor" class='set'>add doctor</a> </div>
        <div><a routerLink="/admin/manage/doctors">manage doctors</a> </div>
        <div> <a routerLink="/admin/add/patient">add patient</a> </div>
        <div> <a routerLink="/login">manage patients</a> </div>
        <div><a routerLink="/login">log out</a> </div>
    </nav>

    <div class='content'>
        <div class='names'>{{doctorAddForm.get('firstName').value}} {{doctorAddForm.get('lastName').value}}</div>

        <div *ngFor='let spec of doctor.specializations' class='specialization'>{{spec.specialization}} </div>
        <br>

        <form [formGroup]="doctorAddForm" (ngSubmit)="onSubmit()">
            <div class='table-of-specializations'>

                <div><label for="firstName">first name: </label></div>
                <div><input class='input-style' type='text' formControlName="firstName" placeholder="first name">
                    <div class='info' *ngIf='doctorAddForm.get("firstName").errors && (doctorAddForm.get("firstName").touched || doctorAddForm.get("firstName").dirty)'>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('firstName').errors.required">First name is required </div>
                    </div>
                </div>
                <div></div>

                <div><label for="lastName">last name: </label></div>
                <div><input class='input-style' type='text' formControlName="lastName" placeholder="last name">
                    <div class='info' *ngIf='doctorAddForm.get("lastName").errors && (doctorAddForm.get("lastName").touched || doctorAddForm.get("lastName").dirty)'>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('lastName').errors.required">Last name is required </div>
                    </div>
                </div>
                <div></div>

                <div><label for="login">login: </label></div>
                <div><input class='input-style' type='text' formControlName="login" placeholder="login">
                    <div class='info' *ngIf='doctorAddForm.get("login").errors && (doctorAddForm.get("login").touched || doctorAddForm.get("login").dirty)'>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('login').errors.required">Login is required </div>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('login').errors.minlength">At least 3 characters required </div>
                    </div>
                </div>
                <div></div>

                <div><label for="password">password: </label></div>
                <div><input class='input-style' type='text' name='password' formControlName="password" placeholder="password">
                    <div class='info' *ngIf='doctorAddForm.get("password").errors && (doctorAddForm.get("password").touched || doctorAddForm.get("password").dirty)'>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('password').errors.required">Password is required </div>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('password').errors.minlength">At least 8 characters required </div>
                    </div>
                </div>
                <div></div>

                <div><label for="gender">gender: </label></div>
                <div><select formControlName="gender" placeholder="gender">
                  <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
                  </select></div>
                <div></div>

                <div><label for="age">age: </label></div>
                <div> <input class='input-style' type='text' formControlName="age" placeholder="age">
                    <div class='info' *ngIf='doctorAddForm.get("age").errors && (doctorAddForm.get("age").touched || doctorAddForm.get("age").dirty)'>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('age').errors.pattern">Age must be a number </div>
                    </div>
                </div>
                <div></div>

                <div><label for="phone">phone: </label></div>
                <div> <input class='input-style' type='text' formControlName="phone" placeholder="phone"></div>
                <div></div>

                <div><label for="email">email: </label></div>
                <div> <input class='input-style' type='text' formControlName="email" placeholder="email">
                    <div class='info' *ngIf='doctorAddForm.get("email").errors && (doctorAddForm.get("email").touched || doctorAddForm.get("email").dirty)'>
                        <div class='to-fill' [hidden]="!doctorAddForm.get('email').errors.pattern">Email is not valid </div>
                    </div>
                </div>
                <div></div>

                <div><label for="street">street: </label></div>
                <div> <input class='input-style' type='text' formControlName="street" placeholder="street"></div>
                <div></div>

                <div><label for="postcode">postcode: </label></div>
                <div> <input class='input-style' type='text' formControlName="postcode" placeholder="postcode"></div>
                <div></div>

                <div style='margin-bottom:20px'><label for="city">city: </label></div>
                <div style='margin-bottom:20px'> <input class='input-style' type='text' formControlName="city" placeholder="city"></div>
            </div>
            <div></div>

            <div formArrayName="specializations" *ngFor="let spec of specializations.controls; let i=index">
                <div [formGroupName]="i">
                    <div class='table-of-specializations'>

                        <div style='margin-bottom:5px'><label for="specialization"> {{i==0 ? 'specialization' : ' '}}  </label></div>
                        <div style='margin-bottom:5px'> <input class='input-style' type='text' placeholder="specialization" formControlName="specialization">
                        </div>

                        <div *ngIf='!i'>
                            <button class='buttonAdd' type="button" (click)='addSpecialization()'>  +  </button>
                        </div>
                        <div *ngIf='i'>
                            <button class='buttonRemove' type="button" (click)='deleteSpecialization(i)'>  -  </button>
                        </div>

                    </div>
                </div>
            </div>
            <div> </div>

            <div style="text-align: right">
                <button type="submit" class='option-button' [disabled]="!doctorAddForm.valid">Submit</button>
            </div>

        </form>


    </div>
</div>


<!--
Values: {{doctorAddForm.value | json}}
<br> Specializations: {{doctorAddForm.get('specializations').value | json}}
<br> Doctor: {{doctor | json}}

<br> Doctor: {{doctor.specializations[0].specialization | json}}-->