<div class='container'>
    <div class='logo'>Admin's Profile</div>
    <div *ngIf='doctor!=undefined'>
        <div class='content'>
            {{doctor[0].firstName}} {{doctor[0].lastName}}<br>
            <div class='specialization'>{{doctor[0].specialization}}</div><br>

            <div class='table-of-details' style='margin-bottom:20px'>
                <div>login: </div>

                <div style='color:#4d1919'> {{doctor[0].login}} </div>
            </div>


            <form [formGroup]="doctorEditForm" (ngSubmit)="onSubmit()">
                <div class='table-of-details'>



                    <div><label for="firstName">first name: </label></div>
                    <div><input class='input-style' type='text' [(ngModel)]="doctor[0].firstName" formControlName="firstName">
                        <div class='info' *ngIf='doctorEditForm.get("firstName").errors && (doctorEditForm.get("firstName").touched || doctorEditForm.get("firstName").dirty)'>
                            <div class='to-fill' [hidden]="!doctorEditForm.get('firstName').errors.required">First name is required </div>
                        </div>
                    </div>

                    <div><label for="lastName">last name: </label></div>
                    <div><input class='input-style' type='text' [(ngModel)]="doctor[0].lastName" formControlName="lastName">
                        <div class='info' *ngIf='doctorEditForm.get("lastName").errors && (doctorEditForm.get("lastName").touched || doctorEditForm.get("lastName").dirty)'>
                            <div class='to-fill' [hidden]="!doctorEditForm.get('lastName').errors.required">Last name is required </div>
                        </div>
                    </div>

                   <div><label for="gender">gender: </label></div>
                    <div><select [(ngModel)]="doctor[0].gender" formControlName="gender">
                  <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
                  </select></div>

                     <div><label for="age">age: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].age" formControlName='age'></div>

                    <div><label for="phone">phone: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].phone" formControlName='phone'></div>

                    <div><label for="email">email: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].email" formControlName='email'></div>

                    <div><label for="street">street: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].address.street" formControlName='street'></div>

                    <div><label for="postcode">postcode: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].address.postcode" formControlName='postcode'></div>

                    <div><label for="city">city: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].address.city" formControlName='city'></div>

                    <div><label for="specialization">specialization: </label></div>
                    <div> <input class='input-style' type='text' [(ngModel)]="doctor[0].specialization" formControlName='specialization'></div>

                </div>

                <div class='buttons'>
                    <div><button type="submit" class='option-button' [disabled]="!doctorEditForm.valid">save</button> </div>


                    <div><button class='option-button' (click)='deleteAndBackToAdminPage()'>delete</button></div>

                    <div><button class='option-button'>show schedule</button></div>
                    <div><button class='option-button' (click)='back()'>back</button></div>
                </div>
            </form>


        </div>
    </div>
</div>