.table-of-details {
    display: grid;
    grid-template-columns: 15% 250px; 
    grid-gap: 20px;
    justify-content: center; 
    grid-row-gap: 20px;

}

.table-of-details div{
 color: #002e4d;
 text-align: right;
 font-weight: bold;
 align-self: center;
}


.table-of-details div:nth-child(even){
 text-align: left;
}

.table-of-details div .input-style {
    height: 40px;
    font-size: 16px;
    border: 0.3px solid grey;
    border-radius: 5px;
    min-width: 250px;
    font-family: 'Quicksand', sans-serif;
}

.table-of-details div .input-style:hover{
    border: 0.3px solid   #002e4d;
    border-radius: 5px;


}
.table-of-details div .input-style:focus{
    background-color:     #002e4d;
    border: 0.3px solid   #002e4d;
    border-radius: 5px;
    font-size: 16px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    outline:0;
}

/*.table-of-details div:last-child{
        margin-bottom: 15%;
}*/
.specialization{
    border-top: 1px solid #002e4d;
    width: 10%;
    font-size: 80%;
}

.option-button {
    padding: 6%;
    background-color:  #003d66;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    margin-bottom:4%;
}
.option-button:hover {
    background-color:   #002e4d;
}

.option-button:focus {
    outline:0;
}

select {
    height: 44px;
    font-size: 16px;
    width: 252px;
    border: 0.3px solid grey;
    border-radius: 5px;
    list-style-type: none;  
    font-family: 'Quicksand', sans-serif;
}


.table-of-details div .info .to-fill{
    background-color:#ffdddd !important;
    border: 0.3px solid #ffcccc;
    border-radius: 5px;
    width: 250px;
    padding-top:2%;
    padding-bottom: 2%;
    text-align: left !important;
    color:  #660000;
    font-size: 80%;
}




