.menu{
    grid-template-columns: 35% 15% 15% 15% 15%;
}

.header{
    color: #004d80;
    font-size: 26px;
    font-weight: bold;
}

.new-day{
    border-bottom: 1px solid #004d80;
    margin-top: 2%;
    color: #004d80;
}

.appointment-list{
    /*background-color: #fafafa;*/
    /*border-radius: 12px;*/
    padding: 1.5%;
    color: #333333;
    font-size: 20px;
}