<div class="details-of-what">

    <div class='details-of-something'>Patient's details:
        <!--<div class='normal-data'>
            <div>Name: {{patient.firstName}} {{patient.lastName}} </div>
            <div>PESEL: {{patient.PESEL}} </div>
        </div>

    </div>
    <div class='details-of-something'>Appointment's details:
        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">

            <div formGroupName="dayMonthGroup">
                <div class='table-of-details'>

                    <div class='normal-data'><label for="day">day: </label></div>
                    <div><select formControlName="day" placeholder="day">
                <option *ngFor="let day of dataArrays.daysArray" [value]="day">{{day}}</option>
                  </select>
                    </div>

                    <div class='normal-data'><label for="month">month: </label></div>
                    <div><select formControlName="month" placeholder="month">
                  <option *ngFor="let month of dataArrays.monthsArray" [value]="month">{{month}}</option>
                  </select>
                    </div>

                    <div class='normal-data'><label for="year">year: </label></div>
                    <div><select formControlName="year" placeholder="year">
                  <option *ngFor="let year of dataArrays.nowAndFutureYearsArray" [value]="year">{{year}}</option>
                  </select>
                    </div>
                </div>
            </div>

            <div class='table-of-details'>
                <div class='normal-data'><label for="hour">hour: </label></div>
                <div><select formControlName="hour" placeholder="hour">
                <option *ngFor="let hour of dataArrays.hoursArray" [value]="hour">{{hour}}</option>
                  </select>
                </div>
            </div>

            <div class='table-of-details'>
                <div class='normal-data'><label for="description">description: </label></div>
                <div>
                    <textarea class='input-style' type='text' formControlName="description" placeholder="description"></textarea>
                </div>

                <div></div>

                <div><button type="submit" class='option-button' [disabled]="!appointmentForm.valid" style="margin-top: 4%">save</button>                    </div>
            </div>
        </form>
        
    <div *ngIf='invalid' class='invalid'>Appointments date or hour is not valid</div>-->

    </div>
</div>

